<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Rental Contract</th>
      <th scope="col">Contract Date</th>
      <th scope="col">CustCode</th>
      <th scope="col">CustName</th>
      <th scope="col">Department</th>
      <th scope="col">Vehicle No</th>
      <th scope="col">Rent From</th>
      <th scope="col">Rent To</th>
      <th scope="col">Billing Terms</th>
      <th scope="col">Terms</th>
      <th scope="col">Contact Person</th>
      <th scope="col">Rental Rate</th>
      <th scope="col">Sales Man</th>
      <th scope="col">Outstanding Amount</th>
      <th scope="col">Service Due</th>
      <th scope="col">No Of Service</th>
    </tr>
  </thead>
  <tbody>
    <% contracts.each do |contract| %>
      <tr>
        <td><%= contract['ST'] %></td>
        <td><%= contract['RentalContract'] %></td>
        <td><%= contract['ContractDate'] %></td>
        <td><%= contract['CustCode'] %></td>
        <td><%= contract['CustName'] %></td>
        <td><%= contract['Department'] %></td>
        <td><%= contract['VehicleNo'] %></td>
        <td><%= contract['RentFrom'] %></td>
        <td><%= contract['RentTo'] %></td>
        <td><%= contract['BillingTerms'] %></td>
        <td><%= contract['Terms'] %></td>
        <td><%= contract['ContactPerson'] %></td>
        <td><%= contract['RentalRate'] %></td>
        <td><%= contract['SalesMan'] %></td>
        <td><%= contract['OutstandingAmount'] %></td>
        <td><%= contract['ServiceDue'] %></td>
        <td><%= contract['NoOfService'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>