<div class="dashboard-container">
  <div class="row no-gutters">
    <div class="col-3">
      <%= render partial: 'users/user_actions' %>
    </div>
    <div class="col-9">
      <div class="action-detail-container">
        <h3>Breach of Contracts</h3>

        <ul class="nav nav-tabs mt-3" id="accidents" role="tablist">
          <% @accidents.each.with_index(1) do |accident, index| %>
            <li class="nav-item">
              <a class="nav-link <%= 'active' if index == 1 %>" id="accident-<%= index %>-tab" data-toggle="tab" href="#accident-<%= index %>" role="tab" aria-controls="accident-<%= index %>" aria-selected="true"><%= index %></a>
            </li>
          <% end %>
        </ul>

        <div class="tab-content pt-3" id="myTabContent">
          <% @accidents.each.with_index(1) do |accident, index| %>
            <div class="tab-pane fade show attribute-value-label-container <%= 'active' if index == 1 %>" id="accident-<%= index %>" role="tabpanel" aria-labelledby="accident-<%= index %>-tab">
              <label class="attribute-label pr-3">Accident ID</label>
              <label class="attribute-label-value"><%= accident['AccidentID'] %></label>
              <br />
              <label class="attribute-label pr-3">Report Date Time</label>
              <label class="attribute-label-value"><%= application_date_format(accident['RptDateTime']) %></label>
              <br />
              <label class="attribute-label pr-3">Original Accident Date</label>
              <label class="attribute-label-value"><%= application_date_format(accident['OriAcdtDate']) %></label>
              <br />
              <label class="attribute-label pr-3">Accident Date</label>
              <label class="attribute-label-value"><%= application_date_format(accident['AcdtDateTime']) %></label>
              <br />
              <label class="attribute-label pr-3">Accident Location</label>
              <label class="attribute-label-value"><%= accident['AcdtLocation'] %></label>
              <br />
              <label class="attribute-label pr-3">Third Party Vehicle Number</label>
              <label class="attribute-label-value"><%= accident['ThirdPartyVehNo'] %></label>
              <br />
              <label class="attribute-label pr-3">Third Party Name</label>
              <label class="attribute-label-value"><%= accident['ThirdPartyName'] %></label>
              <br />
              <label class="attribute-label pr-3">Third Party Contact</label>
              <label class="attribute-label-value"><%= accident['ThirdPartyContact'] %></label>
              <br />
              <label class="attribute-label pr-3">Ins Excess Sect 1</label>
              <label class="attribute-label-value"><%= accident['AcdtInsExcessSect1'] %></label>
              <br />
              <label class="attribute-label pr-3">Ins Excess Sect 2</label>
              <label class="attribute-label-value"><%= accident['AcdtInsExcessSect2'] %></label>
              <br />
              <label class="attribute-label pr-3">Additional Excess</label>
              <label class="attribute-label-value"><%= accident['AcdtAdditionalExcess'] %></label>
              <br />
              <label class="attribute-label pr-3">Own Damage Excess</label>
              <label class="attribute-label-value"><%= accident['AcdtOwnDmgExcess'] %></label>
              <br />
              <label class="attribute-label pr-3">Own Damage Rep Cost</label>
              <label class="attribute-label-value"><%= accident['AcdtOwnDmgRepCost'] %></label>
              <br />
              <label class="attribute-label pr-3">Windscreen Excess</label>
              <label class="attribute-label-value"><%= accident['AcdtWindscreenExcess'] %></label>
              <br />
              <label class="attribute-label pr-3">Admin Legal Fee</label>
              <label class="attribute-label-value"><%= accident['AcdtAdminLegalFee'] %></label>
              <br />
              <label class="attribute-label pr-3">Others Fee</label>
              <label class="attribute-label-value"><%= accident['AcdtOthersFee'] %></label>
              <br />
              <label class="attribute-label pr-3">Outstanding Fee</label>
              <label class="attribute-label-value"><%= accident['OutstandingAmt'] %></label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>