<div class="dashboard-container">
  <div class="row no-gutters">
    <div class="col-3">
      <%= render partial: 'users/user_actions' %>
    </div>
    <div class="col-9">
      <div class="action-detail-container">
        <h3>Bussiness User Details</h3>
        <div class="row no-gutters pt-3">
          <div class="col-6 pr-3">
            <div>
              <label for="name">Name</label>
            </div>
            <div>
              <%= text_field_tag 'name', @current_user.company_name, disabled: true, class: 'w-100' %>
            </div>
          </div>
          <div class="col-6 pl-3">
            <div>
              <label for="roc_no">ROC NO</label>
            </div>
            <div>
              <%= text_field_tag 'roc_no', @current_user.roc_nos, id: 'roc_no', disabled: true, class: 'w-100' %>
            </div>
          </div>
        </div>

        <div class="row no-gutters pt-3">
          <div class="col-6 pr-3">
            <div>
              <label for="address">Address</label>
            </div>
            <div>
              <%= text_field_tag 'address', @current_user.address, disabled: true, class: 'w-100' %>
            </div>
          </div>
          <div class="col-6 pl-3">
            <div>
              <label for="billing_address">Billing Address</label>
            </div>
            <div>
              <%= text_field_tag 'billing_address', @current_user.billing_address, disabled: true, class: 'w-100' %>
            </div>
          </div>
        </div>

        <div class="row no-gutters pt-3">
          <div class="col-6 pr-3">
            <div>
              <label for="telephone">Telephone</label>
            </div>
            <div>
              <%= text_field_tag 'telephone', @current_user.telephone, disabled: true, class: 'w-100' %>
            </div>
          </div>
          <div class="col-6 pl-3">
            <div>
              <label for="post_code">Post Code</label>
            </div>
            <div>
              <%= text_field_tag 'post_code', @current_user.postal_address, disabled: true, class: 'w-100' %>
            </div>
          </div>
        </div>

        <div class="row no-gutters pt-3">
          <div class="col-6 pr-3">
            <div>
              <label for="contact_person">Contact Person</label>
            </div>
            <div>
              <%= text_field_tag 'contact_person', @current_user.contact_person, disabled: true, class: 'w-100' %>
            </div>
          </div>
          <div class="col-6 pl-3">
            <div>
              <label for="contact_person_email">Contact Person Email</label>
            </div>
            <div>
              <%= text_field_tag 'contact_person_email', @current_user.contact_person_email, disabled: true, class: 'w-100' %>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <%= link_to 'Forgot Password?', forgot_password_form_users_path %>
        </div>
      </div>
    </div>
  </div>
</div>