<div class="dashboard-container">
  <div class="row no-gutters">
    <div class="col-3">
      <%= render partial: 'users/user_actions' %>
    </div>
    <div class="col-9">
      <div class="action-detail-container">
        <h3>Staff Members</h3>
        <% if @staff_members.present? %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Staff ID</th>
                <th scope="col">Staff Name</th>
                <th scope="col">NRIC</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
                <th scope="col">Position</th>
                <th scope="col">Department</th>
                <th scope="col">Joined Date</th>
              </tr>
            </thead>
            <tbody>
              <% @staff_members.each do |member| %>
                <tr>
                  <td><%= member['StaffID'] %></td>
                  <td><%= member['StafName'] %></td>
                  <td><%= member['Nric'] %></td>
                  <td><%= member['TelMobile'] %></td>
                  <td><%= member['Email'] %></td>
                  <td><%= member['Position'] %></td>
                  <td><%= member['Department'] %></td>
                  <td><%= member['DateJoined'] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No Members found</p>
        <% end %>
      </div>
    </div>
  </div>
</div>