<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <%= image_tag image_url('logo.png'), class: 'brand-logo' %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-block w-100">
      <% if @current_user.present? %>
        <li class="nav-item float-right">
          <div class="dropdown">
            <div class="user-profile" data-toggle="dropdown" aria-haspopup='true' aria-expanded='false'>
              <label for="user_icon" class="d-inline-block cursor-pointer">Welcome <span class="user-identity"><%= @current_user.staff_id %></span></label>
              <%= image_tag image_url('user_icon.webp'), class: 'user-img d-inline-block', id: 'user_icon' %>
            </div>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Vehicle Listing', rental_items_path, class: 'dropdown-item' %>
              <%= link_to 'Account Details', account_details_users_path, class: 'dropdown-item' %>
              <%= link_to 'Staff Members', staff_members_users_path, class: 'dropdown-item' %>
              <%= link_to 'Ongoing Contracts', ongoing_rental_contracts_users_path, class: 'dropdown-item' %>
              <%= link_to 'Rental History', rental_history_users_path, class: 'dropdown-item' %>
              <%= link_to 'Billing History', billing_history_users_path, class: 'dropdown-item' %>
              <%= link_to 'Breach of Contracts', breach_of_contracts_users_path, class: 'dropdown-item' %>
              <%= link_to 'Accidents', accidents_users_path, class: 'dropdown-item' %>
              <%= link_to 'Sign Out', logout_users_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </div>
        </li>
      <% else %>
        <li class="nav-item float-right">
          <%= link_to "Login", login_form_users_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>