<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Service Booking</h1>
    <p>Contract NO: <%= @data[:RentalContract] %></p>
    <p>Service Due Date: <%= @data[:ServiceDue] %></p>
    <p>Make: <%= @data[:ItemBrand] %></p>
    <p>Model: <%= @data[:ItemModel] %></p>
    <p>Vehicle No: <%= @data[:VehicleNo] %></p>
    <p>To Service Date: <%= @data[:ToServiceDate] %></p>
    <p>To Service Time: <%= @data[:ToServiceTime] %></p>
  </body>
</html>
