<div class="col-6">
  <div class="card rental-item-card">
    <%= link_to rental_item_path(rental_item['RentalItemID']), class: 'card-img-top' do %>
      <%= image_tag image_url('vehicle_icon.jpg') %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= rental_item['ItemDescription'] %></h5>

      <div class="d-flex justify-content-between vehicle-attributes-container">
        <div class="attribute-item">
          <%= image_tag image_url('vehicle_type.svg'), class: 'vehicle-type-icon' %>
          <p><%= rental_item['ItemGroup'] %></p>
        </div>
        <div class="attribute-item">
          <%= image_tag image_url('fuel.svg'), class: 'fuel-icon' %>
          <p>Diesel</p>
        </div>
        <div class="attribute-item">
          <%= image_tag image_url('cog.svg'), class: 'cog-icon' %>
          <p>Text</p>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="row no-gutters">
        <div class="col-6 card-button-container">
          <%= link_to 'Enquire', enquire_form_rental_item_path(rental_item['RentalItemID']), class: 'btn btn-primary col-8 offset-2' %>
        </div>
        <div class="col-6 card-button-container">
          <%= link_to 'Book', '#_', class: 'btn btn-primary col-8 offset-2' %>
        </div>
      </div>
    </div>
  </div>
</div>