<div class="resource-container row no-gutters">
  <div class="col-8 offset-2">
    <div class="resource-heading">
      <h2>Rental Enquiry</h2>
    </div>
    <%= form_tag '#', method: :post, class: 'resource-form' do %>
      <div class="row no-gutters pt-3">
        <div class="col-6">
          <div>
            <label>Make</label>
          </div>
          <div>
            <%= text_field_tag 'makeDisabled', '', disabled: true, class: 'col-6' %>
            <%= hidden_field_tag 'make', '' %>
          </div>
        </div>
        <div class="col-6 pl-3">
          <div>
            <label>Model</label>
          </div>
          <div>
            <%= text_field_tag 'modelDisabled', '', disabled: true, class: 'col-6' %>
            <%= hidden_field_tag 'model', '' %>
          </div>
        </div>
      </div>

      <div class="row no-gutters pt-3">
        <div class="col-6">
          <div>
            <label for="rental_period">Rental Period*</label>
          </div>
          <div>
            <%= select_tag 'rentalPeriod', options_for_select([]), include_blank: 'Please Select', required: true, id: 'rental_period', class: 'col-6' %>
          </div>
        </div>
      </div>

      <div class="row no-gutters pt-3">
        <div class="col-12">
          <div>
            <label for="additional_info">Any Additional Information</label>
          </div>
          <div>
            <%= text_area_tag 'addistionalInfo', '', id: 'additional_info', class: 'col-10' %>
          </div>
        </div>
      </div>

      <div class="row no-gutters pt-3">
        <div class="col-10 d-flex justify-content-center">
          <%= submit_tag 'Submit', data: { disable_with: "Submitting..." }, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>